body {
  font-family: "montserrat";
  padding: 0px;
  margin: 0px;
  text-align: center;
}
.white-overlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 9998;
  animation: fadeOut 2s ease forwards;
}
@keyframes fadeOut {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
  }
}

h2 {
  font-family: poppins;
  font-size: 2rem;
  font-weight: 400;
}

/*-------------------------------NAVBAR---------------------*/
#navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Asegura que el navbar esté sobre otros elementos */
  height: 60px; /* Ajusta la altura del navbar */
  /* Asegura fondo oscuro para el menú colapsado */
}
.navbar-collapse {
  background-color: #212529; /* o el color que uses en bg-dark */
}
/*-----------------------------HEADER---------------*/
header {
  margin-top: 60px;
  background-image: url(./src/img/skillsHeader.png);
}
.header-container {
  display: flex;
  align-items: center;
  height: 100%;
}
.img-header {
  text-align: end;
}
header img {
  width: 480px;
}

.profile-text {
  width: 50%;
  text-align: start;
  height: 100%;
}
h4 {
  display: none;
}

h1 {
  font-size: 4rem;
  font-weight: 600;
  color: rgb(94, 156, 158);
}
/*----------------------------------------ABOUT ME-------------*/
#about {
  background: linear-gradient(180deg, rgb(170, 170, 172), rgb(255, 255, 255));
  padding-top: 5rem;
}
.about-container {
  display: flex;
  height: 100%;
}
.container-text {
  width: 37%;
  margin-left: 25%;
  text-align: start;
  font-size: 17px;
}
.container-text h2 {
  text-align: end;
}
.about-img {
  width: 50%;
  text-align: start;
}
.about-img img {
  width: 60%;
  height: 100%;
}

/*------------------------------------------EXPERIENCE-----------*/

#experience {
  background-image: url(./src/img/background2.jpeg);
  background-size: cover; /* Ajusta la imagen para que cubra todo el contenedor */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center;
  padding-top: 5rem;
}

.containerJob {
  display: flex; /* Flexbox activa alineación en fila */
  gap: 20px;
  padding: 2rem;
  text-align: center;
}

.job {
  flex: 1; /* Permite que cada columna tome el mismo ancho */
  padding: 20px; /* Espaciado interno */
}

#experience p {
  text-align: center;

  cursor: pointer;
}

#experience h3 {
  text-align: center;

  cursor: pointer;
}

#experience p:hover {
  transform: scale(1.1); /* Aumenta el tamaño de la imagen al 110% */
  transition: transform 1s ease;
}
#experience h3:hover {
  color: rgb(94, 156, 158);
  transform: scale(1.1); /* Aumenta el tamaño de la imagen al 110% */
  transition: transform 1s ease;
}

#experience ul {
  background-color: rgba(68, 66, 66, 0.795);
  color: aliceblue;
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  text-align: start;
}

.vertical-hr {
  width: 1px; /* Grosor de la línea */
  background-color: #0000008a; /* Color de la línea */
  margin: 0 20px; /* Espaciado opcional a los lados */
  height: auto; /* Permite que la línea ocupe toda la altura */
  align-self: stretch; /* Extiende la línea para ocupar toda la altura del contenedor */
  border: none; /* Elimina cualquier borde */
}

/***********************************************EDUCATION****************/

#education {
  padding-top: 5rem;
  padding-bottom: 2rem;
  background-color: rgb(68, 66, 66);

  color: rgb(199, 198, 198);
}

#education h2 {
  color: rgb(94, 156, 158);
}

.container-education {
  display: flex;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  justify-content: space-between;
}
.content-container {
  width: 50%;
}

.vertical-hr2 {
  width: 1px; /* Grosor de la línea */
  background-color: #c7c5c5e1; /* Color de la línea */
  margin: 0 20px; /* Espaciado opcional a los lados */
  height: auto; /* Permite que la línea ocupe toda la altura */
  align-self: stretch; /* Extiende la línea para ocupar toda la altura del contenedor */
  border: none; /* Elimina cualquier borde */
}

/*------------------------------------------------PROJECTS---------------*/

#projects {
  padding: 4rem;
}
.project {
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
}

.project p {
  font-size: 18px;
}

.container-projects {
  padding: 7px;
}

.project h3 {
  font-size: 1.2rem;
  cursor: pointer;
  margin-top: 2rem;
  color: rgb(94, 156, 158);
}
.project h3:hover {
  transform: scale(1.1); /* Aumenta el tamaño de la imagen al 110% */
  transition: transform 1s ease;
}
/*----------------------------------------------SKILLS--------------*/

#skills {
  background-image: url(./src/img/skills.jpeg);
  background-size: cover; /* Ajusta la imagen para que cubra todo el contenedor */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center;
}

#skills .container {
  max-width: 100%;
}
#skills img {
  width: 70px;
  height: 70px;
  margin: 8px;
  padding: 8px;
  cursor: pointer;
}
#skills .container img:hover {
  transform: scale(1.91); /* Aumenta el tamaño de la imagen al 110% */
  transition: transform 1.4s ease; /* Transición suave al agrandar */
}

/*******************************************FOOTER*****************/

.footer {
  color: #000000;
  padding: 1px;
  margin: 0;
  background-color: rgb(94, 156, 158);
  text-align: center;
  text-shadow: 2px 2px 4px rgba(2, 2, 0, 0.5);
}
.footer a {
  color: rgb(255, 255, 255);
  margin: 0px;
}

/*********************************RESPONSIVE NOTEBOOK**************************/
@media screen and (max-width: 1440px) {
  /*----------MEDIA --- ABOUT-----------*/
  #about {
    padding-top: 0;
  }

  .about-container {
    width: 100%;
    padding: 5%;
  }
  .container-text {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .container-text h2 {
    text-align: center;
  }
  .about-img {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .about-img img {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  /*-------------MEDIA----PROJECTS------------------*/
  #projects {
    background-image: url(src/img/backgroundProjects.png);
    background-size: cover;
    background-repeat: no-repeat; /* Evita que se repita */
    background-position: center; /* Centra la imagen */
  }
}
/********************************RESPONSIVE**MOVILE*****************************/
@media screen and (max-width: 768px) {
  /* HEADER */
  .header-container {
    display: none;
  }

  /* ABOUT */
  .about-container {
    flex-direction: column-reverse;
    align-items: center;
    padding: 1rem;
  }

  .container-text {
    width: 90%;
    margin-left: 0px;
    margin: 0px;
    padding-right: 0%;
    text-align: center;
  }

  .container-text h2 {
    text-align: center;
  }

  .about-img {
    position: relative; /* necesario para que el h4 se posicione respecto a este contenedor */
    width: 100%;
    margin-right: 0px;
    padding-right: 0%;
    text-align: center;
  }

  .about-img img {
    display: block; /* quita el espacio inferior típico de imágenes inline */
    width: 100%;
    height: 70%;
    margin-right: 0px;
    padding-right: 0%;
    margin-bottom: 30px;
  }

  .about-img h4 {
    display: block;
    font-family: "poppins";
    font-weight: 400;
    position: absolute;
    top: 43%; /* ajusta para mover verticalmente */
    left: 2%; /* ajusta para mover horizontalmente */

    text-align: start;
    font-size: 94px;
    line-height: 0.75;
    letter-spacing: -9px;
    color: rgba(94, 156, 158, 0.699);
  }

  /* EXPERIENCE */
  .containerJob {
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
  }

  .job {
    width: 100%;
    padding: 1rem;
  }

  .vertical-hr {
    display: none;
  }

  #experience ul {
    font-size: 14px;
  }

  /* EDUCATION */
  .container-education {
    flex-direction: column;
    margin: 0 auto;
    width: 90%;
    text-align: center;
  }

  .content-container {
    width: 100%;
    margin-bottom: 2rem;
  }

  .vertical-hr2 {
    display: none;
  }

  #projects h3 {
    font-size: 1rem;
    padding: 0;
  }
}
